<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<!-- Necesario para que reconozca todo en internet explorer -->
<meta http-equiv="X-UA-Compatible" content="IE=11" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta http-equiv="Content-type" content="text/html;" charset="utf-8" />
<!-- encoding para la página -->

<!-- Codificación necesaria para que sea aceptado por todos los dispositivos gracias a bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1" />


<title>Motos tiburón</title>


<link rel="icon" data-th-href="@{/images/logo/logo_tib.ico}"></link>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" data-th-href="@{/css/index.css}"></link>

<!-- Hoja de estilo fuentes google -->
<link href="/font/material-design-icons/material-icons.css"
	rel="stylesheet" />

</head>

<body onscroll="stickNavBar()">

	<div id="imageSlider" class="col-sm-12 empty"
		style="background-color: black; min-height: 530px; -webkit-transition: background-image 0.2s ease-in-out; transition: background-image 0.2s ease-in-out;">

		<div class="col-sm-12 empty"></div>

		<div class="col-sm-12 empty"
			style="position: absolute; height: 60px; width: 100%; bottom: 0px;">

			<button onclick="showPreviousImage();" class="btn btn-xs"
				style="height: 60px; float: left; background-color: rgb(128, 128, 128, 0.5)">
				<span class="glyphicon glyphicon-chevron-left" style="color: white"></span>
			</button>

			<button onclick="showNextImage();" class="btn btn-xs"
				style="height: 60px; float: right; background-color: rgb(128, 128, 128, 0.5)">
				<span class="glyphicon glyphicon-chevron-right" style="color: white"></span>
			</button>

			<button class="btn btn-xs"
				style="background-color: transparent; display: block; margin: 0 auto;">
				<span id="sliderSpan1" class="glyphicon glyphicon-asterisk"
					style="color: grey;"></span> <span id="sliderSpan2"
					class="glyphicon glyphicon-asterisk" style="color: white;"></span>
				<span id="sliderSpan3" class="glyphicon glyphicon-asterisk"
					style="color: grey;"></span>
			</button>
		</div>
	</div>

	<div id="cabecera" class="navbar col-sm-12"
		style="height: 45px; border: 0px;padding-right:0px;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#collapseMenu"
				style="width: 45px; height: 45px; margin: 0px; padding: 0px; border: 0px; margin-right:5px  ;">
				<span class="material-icons"
					style="font-size: 40px; color: white; margin: 3px;width: 100%; border-radius: 7px; border: 1px; ">dehaze</span>
			</button>
			<a class="navbar-brand active" href="/motostiburon/home"> <span
				class="glyphicon glyphicon-home"></span>
			</a>
		</div>

		<div class="collapse navbar-collapse" id="collapseMenu">
			<ul class="nav navbar-nav" style="margin:0px; border:0px">
				<li><a href="/motostiburon/empresa">Empresa</a></li>
				<li><a href="/motostiburon/servicios">Servicios</a></li>
				<li><a href="/motostiburon/clientes">Clientes</a></li>
				<li><a href="#">Contacto</a></li>
				<li><a href="/motostiburon/presupuesto">Presupuesto</a></li>
			</ul>
		</div>
	</div>





	<div id="bodyContent" class="col-sm-12"
		style="background-color: white; min-height: 300px; margin: 0px; padding: 0px;">

		<div class="col-sm-12" style="min-height: 60px"></div>

		<div data-th-include="${contenedor}::${fragmento}"></div>


	</div>

	<div class="col-sm-12"
		style="min-height: 20px; background-color: white;"></div>

	<div class="col-sm-12"
		style="min-height: 300px; background-color: #333;">
		<div class="col-sm-9" style="min-height: 200px;">
			<div style="height: 20px;"></div>
			<img alt="Tiburón SL." data-th-src="@{/images/logo/logo_tib_burned.png}"
				border="0"  />
		</div>
		<div class="col-sm-3">
			<p></p>
			<p>
				<a target="_blank" title="Síguenos en facebook" href="#"><img
					alt="Síguenos en facebook"
					data-th-src="@{/images/facebook_30x30.png}" border="0"
					style="filter: grayscale(100%);" /></a> <a target="_blank"
					title="Síguenos en twitter" href="#"><img
					alt="Síguenos en twitter"
					data-th-src="@{/images/twitter_30x30.png}" border="0"
					style="filter: grayscale(100%);" /></a> <a target="_blank"
					title="Síguenos en instagram" href="#"><img
					alt="Síguenos en instagram"
					data-th-src="@{/images/instagram_30x30.png}" border="0"
					style="filter: grayscale(100%);" /></a>
			</p>
			<p></p>
			<p>
				<a href="tel:608 72 36 56" style="color: #959595; font-size: 24px;"><b>608
						72 36 56</b></a>
			</p>
			<p>
				<a style="color: #959595; font-size: 24px;"
					href="mailto:info@motostiburon.es">info@motostiburon.es</a>
			</p>
			<p style="color: white; font-size: 14px;">Estamos a tu
				disposición de Lunes a Viernes de 8h. a 17h.</p>

		</div>
		<div class="col-sm-12" style="height: 1px; background-color: gray;">
		</div>
		<div class="col-sm-12">
			<p style="color: #959595; font-size: 14px;">© Copyright 2006-2018
				TIBURON Transportes de Motos. Todos los derechos reservados.</p>
		</div>

	</div>


	<script data-th-inline="javascript">
		// <![CDATA[
		/********************************
		 * Visor de imágenes
		 ********************************/
		var imagesPath = [ "/images/home/slider/1.jpg",
				"/images/home/slider/2.jpg", "/images/home/slider/3.jpg" ];

		var sliderSpans = [ "sliderSpan1", "sliderSpan2", "sliderSpan3" ];

		var indexActualImage = 0;
		var indexMaxValue = imagesPath.length - 1;
		showImage(indexActualImage);
		var transicionFondo = setInterval(function() {
			showNextImage();
		}, 3000);

		function resetTransicionFondo() {
			clearInterval(transicionFondo);
			transicionFondo = setInterval(function() {
				showNextImage();
			}, 3000);
		}

		function showNextImage() {

			indexActualImage++;
			if (indexActualImage > indexMaxValue) {
				indexActualImage = 0;
			}
			showImage(indexActualImage);

		}

		function showPreviousImage() {

			indexActualImage--;
			if (indexActualImage < 0) {
				indexActualImage = indexMaxValue;
			}
			showImage(indexActualImage);
		}

		function showImage(indexToShow) {

			document.getElementById(sliderSpans[0]).style.color = 'grey';
			document.getElementById(sliderSpans[1]).style.color = 'grey';
			document.getElementById(sliderSpans[2]).style.color = 'grey';
			document.getElementById(sliderSpans[indexToShow]).style.color = 'white';

			var strUrl = 'url(' + imagesPath[indexToShow] + ')';
			// 			console.log("Imagen a mostrar:");
			// 			console.log(strUrl);

			document.getElementById("imageSlider").style.backgroundRepeat = 'no-repeat';
			document.getElementById("imageSlider").style.backgroundPosition = 'center';
			document.getElementById("imageSlider").style.backgroundSize = 'cover';
			document.getElementById("imageSlider").style.backgroundImage = strUrl;

			resetTransicionFondo();
		}

		/********************************
		 * Menú flotante
		 ********************************/
		var navbar = document.getElementById("cabecera");
		var sticky = navbar.offsetTop;
		var bodyContent = document.getElementById("bodyContent");

		function stickNavBar() {
			if (window.pageYOffset >= sticky) {
				navbar.classList.add("navbar-fixed-top")
				bodyContent.style.paddingTop = "50px";

			} else {
				navbar.classList.remove("navbar-fixed-top");
				bodyContent.style.paddingTop = "0px";
			}
		}

		// ]]>
	</script>





</body>
</html>