.empty {
	margin: 0px;
	padding: 0px;
}

#cabecera {
	z-index: 1000;
	/* 	overflow: hidden; */
	background-color: #182d4f;
}

#cabecera ul {
	background-color: #182d4f;
}

#cabecera a {
	/* 	float: left; */
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	background-color: #182d4f;
}

#cabecera a:hover {
	background-color: #ddd;
	color: #182d4f;
}

#cabecera a.active {
	background-color: #f76159; /* #cc9900 */
	color: white;
}

.content {
	padding: 16px;
}

/* .sticky { */
/* 	position: fixed; */
/* 	top: 0; */
/* 	width: 100% */
/* } */

/* .sticky+.content { */
/* 	padding-top: 20px; */
/* } */
input.form-control {
	height: 45px;
	font-size: 18px;
}

input::-webkit-input-placeholder {
	font-size: 18px;
	line-height: 2;
}

input:-ms-input-placeholder {
	font-size: 18px;
	line-height: 2;
}

input:-moz-placeholder {
	font-size: 18px;
	line-height: 2;
}

input::-moz-placeholder {
	font-size: 18px;
	line-height: 2;
}

.suzuki-background {
	height: 500px;
	background-image: url(/images/home/moto1.1.png);
	background-repeat: no-repeat;
	background-origin: center;
	background-size: contain;
}