<div data-th-fragment="fragment">
	<div class="col-sm-12" style="text-align: left;">

		<form id="formulario" class="empty"
			data-th-action="@{/motostiburon/contacto/email}" method="POST"
			onkeypress="return event.keyCode != 13;">

			<div class="form-group col-sm-4 ">
				<input class="form-control" name="email" type="text"
					placeholder="Indique su dirección de correo electrónico" />
			</div>
			
			<div class="form-group col-sm-12">
				<textarea cols="50" rows="10" class="form-control" name="mensaje" type="text"
					placeholder="¡Háganos llegar su consulta lo antes posible!"></textarea>
			</div>
			<div class="form-group col-sm-12">
			<button class="btn btn-xm btn-success">Consultar</button>
			</div>
		</form>




	</div>
</div>