<div data-th-fragment="fragment">

	<!-- azul #345589 -->


	<div class="col-sm-12" style="text-align: center;">
		<div class="col-sm-12">
			<!-- 			<h3>Un servicio de motoristas...</h3> -->
		</div>
		<form class="form-group  "
			data-th-action="@{/motostiburon/presupuesto/consultar}" method="POST">


			<div class="hidden-xs col-sm-6 suzuki-background"></div>
			<!-- 			<div class="hidden-xs col-sm-6 "></div> -->

			<div class="col-sm-6" style="text-align: left;">
				<h4 style="color: #999999">
					<b>Transportamos tu moto o quad, sólo dinos dónde y cuándo</b>
				</h4>
			</div>


			<div class="col-sm-6"></div>

			<div class="form-group col-sm-4" style="text-align: left;">

				<input placeholder="Lugar de recogida" class="form-control col-sm-5"
					id="origen" name="origen" type="text" />
			</div>

			<div class="form-group col-sm-2" style="text-align: left;">
				<input placeholder="Fecha de entrega"
					class="form-control col-sm-5 datepicker" id="fechaEntrega"
					name="fechaEntrega" type="text" onfocus="blur();" />
			</div>

			<div class="col-sm-6"></div>
			<div class="form-group col-sm-4" style="text-align: left;">
				<input placeholder="Lugar de entrega" class="form-control col-sm-5"
					id="destino" name="destino" type="text" />
			</div>

			<div class="form-group col-sm-2" style="text-align: left;">
				<input placeholder="Fecha de recogida"
					class="form-control col-sm-5 datepicker" id="fechaRecogida"
					name="fechaRecogida" type="text" onfocus="blur();" />
			</div>

			<div class="col-sm-6"></div>
			<div class="form-group col-sm-6 text-right">
				<button class="btn btn-xm btn-success">Consultar precios</button>
			</div>

		</form>



		<div class="col-sm-12">
			<!-- 			<h3>...para motoristas</h3> -->
		</div>

		<script type="text/javascript">
			//Inicializar valores para datepicker
			$('.datepicker').datepicker({
				weekStart : 1,
				startDate : "today",
				todayBtn : "linked",
				language : "es",
				daysOfWeekHighlighted : "0,6",
				autoclose : true
			});

			//Establece datepicker sobre el resto de elementos de la interfaz
			function beforeShowDatePicker() {
				$('.datepicker-dropdown').css('z-index', 99999);
			}

			$(function() {
				//Actualizar datepicker al ser seleccionado
				$(".datepicker").focus(function() {
					beforeShowDatePicker();
				});

				//Actualizar datepicker al modificar el tamaño del browser
				$(window).bind('resize', function(e) {
					window.resizeEvt;
					$(window).resize(function() {
						clearTimeout(window.resizeEvt);
						window.resizeEvt = setTimeout(function() {
							beforeShowDatePicker();
						}, 200);
					});
				});
			});
		</script>

	</div>
</div>