.formulario {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; border: 1px #666666 solid; font-weight: normal; text-decoration: none; line-height: normal}
.textonormalgris { font-family: Tahoma, Verdana; font-size: 11px; color: #666666; text-decoration: none}
.textonormalgrisenlace { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #CCCCCC }
.borde { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none ; border: 1px solid #666666}
.textonormalnegro {
font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; text-decoration: none
}
.textonormalnegronegrita {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;

}
.textonormalnegroenlace {

font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000
}
.textonormalgrispeq {
font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF; text-decoration: none
}
.textonormalgrispeqenlace {

font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF
}
.textonormalgristitular {
	font-family: Tahoma, Verdana;
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;

}
